/* Gruvbox Dark color palette */
@define-color bg       #282828;
@define-color bg1      #3c3836;
@define-color bg2      #504945;
@define-color bg3      #665c54;
@define-color bg4      #7c6f64;

@define-color fg       #ebdbb2;
@define-color fg1      #d5c4a1;
@define-color fg2      #bdae93;
@define-color fg3      #a89984;
@define-color fg4      #928374;

@define-color red      #cc241d;
@define-color green    #98971a;
@define-color yellow   #d79921;
@define-color blue     #458588;
@define-color purple   #b16286;
@define-color aqua     #689d6a;
@define-color orange   #d65d0e;

* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 14px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @fg;
}

#workspaces {
    border-radius: 1rem;
    margin: 8px 3px 3px 8px;
    background-color: @bg2;
}

#workspaces button {
    color: @fg;
    border-radius: 1rem;
    padding: 0.3rem;
}

#workspaces button.active {
    color: @blue;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @green;
    border-radius: 1rem;
}

#clock {
    border-radius: 1rem;
    margin: 8px 3px 3px 3px;
    background-color: @bg2;
    padding: 0.3rem 0.8rem;
    color: @fg;
}

#tray,
#custom-swaync,
#pulseaudio,
#idle_inhibitor,
#power-profiles-daemon,
#backlight,
#battery {
    background-color: @bg2;
    padding: 0.3rem 0.8rem;
    margin: 8px 0px 3px 0px;
}

#tray {
    margin: 8px 0px 3px 0px;
    border-radius: 1rem;
}

#custom-swaync {
    color: @blue;
    border-radius: 1rem;
}

#custom-swaync.dnd {
    color: @fg3;
}

#pulseaudio {
    color: @purple;
    border-radius: 1rem;
}

#backlight {
    color: @yellow;
    border-radius: 1rem;
}

#battery {
    color: @green;
    border-radius: 1rem;
    margin: 8px 8px 3px 0px;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#idle_inhibitor {
    color: @aqua;
    border-radius: 1rem;
}

#idle_inhibitor.activated {
    color: @purple;
}

#power-profiles-daemon {
    color: @blue;
    border-radius: 1rem;
    margin: 8px 0px 3px 0px;
}

#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @blue;
}

#power-profiles-daemon.power-saver {
    color: @green;
}
