/* Gruvbox Dark color palette */
@define-color bg       #282828;
@define-color bg1      #3c3836;
@define-color bg2      #504945;
@define-color bg3      #665c54;
@define-color bg4      #7c6f64;

@define-color fg       #ebdbb2;
@define-color fg1      #d5c4a1;
@define-color fg2      #bdae93;
@define-color fg3      #a89984;
@define-color fg4      #928374;

@define-color red      #cc241d;
@define-color green    #98971a;
@define-color yellow   #d79921;
@define-color blue     #458588;
@define-color purple   #b16286;
@define-color aqua     #689d6a;
@define-color orange   #d65d0e;


#waybar { 
    font-size: 14px;
    font-family: JetBrainsMono Nerd Font Propo;
    background-color: transparent;
    color: @fg;
}

#workspaces {
    padding: 0;
}

#workspaces button {
    background-color: @bg2;
    border-radius: 5px;
    margin: 10px 0px 0px 10px;
    padding: 0;
    border: 2px @bg2 solid;
}

#workspaces button.active {
    color: @blue;
    border: 2px @blue solid;
}

#clock {
    background-color: @bg2;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    padding: 0 9px;
}

#tray,
#custom-swaync,
#pulseaudio,
#idle_inhibitor,
#power-profiles-daemon,
#backlight,
#battery {
    background-color: @bg2;
    border-radius: 5px;
    margin: 10px 10px 0px 0px;
    padding: 0 9px;
}

#custom-swaync {
    color: @yellow;
}

#pulseaudio {
    color: @purple;
}

#backlight {
    color: @fg5;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @red;
}

#idle_inhibitor {
    color: @fg1;
}

#idle_inhibitor.activated {
    color: @red;
}

#power-profiles-daemon {
    color: @blue;
}

#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @blue;
}

#power-profiles-daemon.power-saver {
    color: @green;
}
